.owl-carousel .owl-nav {
  display: flex!important;
  position: relative;
  div {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    &.owl-prev {
      top: -20.6rem;
      left: -6.2rem;
    }
    &.owl-next {
      top: -20.6rem;
      right: -6rem;
    }
  }
}
