.sec-08 {
  padding-top: 7.4rem;
  padding-bottom: 8.9rem;
  background-image: url("img/sec-08/bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-08__title {
  font-family: GothaB;
  font-size: pxToRem(45px);
  color: #fff;
  line-height: pxToRem(50px);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.sec-08__subtitle {
  font-family: GothaM;
  font-size: pxToRem(18px);
  color: #fff;
  line-height: pxToRem(30px);
  letter-spacing: .72px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.sec-08__content-title {
  font-family: GothaM;
  font-size: pxToRem(24px);
  color: #c23002;
}

.sec-08 {
  .row:first-of-type {
    margin-bottom: 2.7rem;
    [class*=col-]:first-of-type {
      .sec-08__content-list-item {
        font-family: OpenR;
        font-size: 1rem;
        line-height: pxToRem(24px);
        color: #fff;
        position: relative;
        &::before {
          display: block;
          content: url("img/sec-08/dot.png");
          background-position: top;
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: 0.9rem;
          left: -4.2rem;
        }
        span {
          font-family: OpenSB;
        }
      }

      .sec-08__content-title {
        margin-bottom: 2.8rem;
      }

      .sec-08__content-list-item {
        margin-bottom: 2.4rem;
        padding-right: 5rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    [class*=col-]:nth-of-type(2) {
      .sec-08__content-title {
        text-transform: uppercase;
        padding-top: 0.5rem;
        padding-left: 2.4rem;
        margin-bottom: 2.8rem;
      }

      .sec-08__content-list {
        padding-left: 2.2rem;
      }

      .sec-08__content-list-item {
        font-family: OpenL;
        font-size: pxToRem(20px);
        color: #fff;
        margin-bottom: 1.7rem;
        letter-spacing: 2.4px;
        &:last-of-type {
          margin-bottom: 0;
          display: flex;
          align-items: flex-end;
          span:first-of-type {
            letter-spacing: 1.5px;
          }
          span:last-of-type {
            display: flex;
            margin-left: .5rem;
            text-align: right;
          }
        }
        &:nth-of-type(2) {
          margin-bottom: .9rem;
        }
        span {
          letter-spacing: 0;
          &:first-of-type {
            font-family: GothaB;
            font-size: pxToRem(28px);
            margin-right: .8rem;
            display: inline-block;
            span {
              font-size: 1.2rem;
              letter-spacing: 2.9px;
              margin: 0;
            }
          }
        }
        span {
          letter-spacing: 0;
          &:last-of-type {
            margin-left: .7rem;
            font-family: OpenR;
            font-size: 1rem;
          }
        }
      }
    }
    [class*=col-]:last-of-type {
      margin-top: 8.2rem;
    }
  }
}



.sec-08__bottom-description {
  font-family: GothaM;
  font-size: pxToRem(25px);
  color: #fff;
  text-align: right;
  letter-spacing: 2.4px;
  padding-right: 0.4rem;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: pxToRem(560px);
    height: 2px;
    background-color: #ffd27c;
    position: absolute;
    top: .5rem;
    left: 0;
  }
}

.slides {
  display: flex;
}

.sec-08__slide-img {
  display: block;
  width: auto;
}

.sec-08__slider-text-block {
  display: flex;
  justify-content: space-between;
  margin-top: 3.6rem;
  padding: 0 2.8rem 0 .9rem;
}

.sec-08__slider-text {
  font-family: GothaB;
  font-size: 1rem;
  line-height: pxToRem(29px);
  letter-spacing: .64px;
  color: #fff;
  text-transform: uppercase;
  padding-top: .6rem;
}

.sec-08 .sec-01__modal-btn {
  text-align: center;
  margin: 0;
}
