.sec-07 {
  padding-top: 7.6rem;
  padding-bottom: 7.8rem;
  background-color: #fcfcfc;
  background-image: url("img/sec-06/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.sec-07__title {
  font-family: GothaB;
  font-size: pxToRem(45px);
  line-height: pxToRem(50px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5.5rem;
  span {
    position: relative;
    z-index: 0;
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffd27c;
      width: 18rem;
      height: 3rem;
      z-index: -1;
    }
  }
}

.sec-07__calendar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 2.6rem;
  &::before {
    display: block;
    content: url("img/sec-07/bottom-line.png");
    position: absolute;
    bottom: 1.3rem;
    right: 1.5rem;
  }
}

.sec-07__calendar-block {
  width: 19%;
  height: 9.8rem;
  background-color: #fff;
  margin-bottom: .7rem;
  padding-left: 1.3rem;
  padding-top: 1.85rem;
  box-shadow: 0 8px 13px rgba(34,34,34,.15);
  &.sec-07__transparent-block {
    background-color: transparent;
    box-shadow: none;
  }
  &.orange-block {
    background-color: #ffd27c;
  }
  &.sec-07__calendar-description {
    background-color: transparent;
    box-shadow: none;
    padding-top: 2rem;
    .sec-07__calendar-content {
      font-family: OpenB;
      text-transform: uppercase;
      line-height: pxToRem(26px);
      span {
        color: #c23002;
      }
    }
  }
  &:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    .sec-07__calendar-content {
      font-family: OpenL;
      font-size: pxToRem(14px);
      line-height: pxToRem(14px);
      letter-spacing: .84px;
      span {
        font-family: OpenSB;
      }
    }
  }
}

.red-day {
  background-color: #f7f7f7;
  .sec-07__calendar-title {
    color: #c23002;
  }
  .sec-07__calendar-content {
    font-family: OpenB;
  }
}

.sec-07__calendar-title {
  font-family: GothaB;
  font-size: pxToRem(18px);
  text-transform: uppercase;
  letter-spacing: 1.08px;
  margin-bottom: .8rem;
}

.sec-07__calendar-content {
  font-family: OpenR;
  font-size: pxToRem(15px);
  line-height: pxToRem(19px);
}

.sec-07__bottom-text-container {
  display: flex;
}

.sec-07__bottom-text {
  font-family: OpenSB;
  font-size: pxToRem(16px);
  line-height: pxToRem(24px);
  &:first-of-type {
    margin-right: 3.7rem;
    padding-right: 1rem;
  }
  span {
    font-family: OpenEB;
  }
}
