@font-face {
  font-family: GothaB;
  src: url('fonts/GothamPro-Bold.woff') format("woff"),
       url('fonts/GothamPro-Bold.woff2') format("woff2");
}

@font-face {
  font-family: GothaL;
  src: url('fonts/GothamPro-Light.woff') format("woff"),
       url('fonts/GothamPro-Light.woff2') format("woff2");
}

@font-face {
  font-family: GothaM;
  src: url('fonts/GothamPro-Medium.woff') format("woff"),
       url('fonts/GothamPro-Medium.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothamPro.woff') format("woff"),
       url('fonts/GothamPro.woff2') format("woff2");
}

@font-face {
  font-family: OpenB;
  src: url('fonts/OpenSans-Bold.woff') format("woff"),
       url('fonts/OpenSans-Bold.woff2') format("woff2");
}

@font-face {
  font-family: OpenEB;
  src: url('fonts/OpenSans-ExtraBold.woff') format("woff"),
       url('fonts/OpenSans-ExtraBold.woff2') format("woff2");
}


@font-face {
  font-family: OpenL;
  src: url('fonts/OpenSans-Light.woff') format("woff"),
       url('fonts/OpenSans-Light.woff2') format("woff2");
}


@font-face {
  font-family: OpenR;
  src: url('fonts/OpenSans-Regular.woff') format("woff"),
       url('fonts/OpenSans-Regular.woff2') format("woff2");
}


@font-face {
  font-family: OpenSB;
  src: url('fonts/OpenSans-SemiBold.woff') format("woff"),
       url('fonts/OpenSans-SemiBold.woff2') format("woff2");
}
